*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    background-color: #c3c3c3;
    color: #1a1a1a;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
input{
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}
.inputss{
    display: flex;
    flex-direction: row;
}
.sub:hover{
    background-color: #a6ff9e;
}
